<h2 class = "dotted-border mt-4 mb-md-4">Choose one of the packages</h2>
                <div class = "card-deck mt-sm-4">
                    <div class = "card text-center boxShadow">
                        <div class = "card-header text-center"><h3 class = "nav-title text-center">Student</h3></div>
                        <div class = "card-body">
                            <p class =  "card-title">4 free invoice</p>
                            <p class =  "card-title">3 free invoice template</p>
                            <p class =  "card-title">free email (10 times per day)</p>
                            <p class =  "card-title">$0 free</p>
                        </div>
                        <div class = "card-footer">
                        <button type = "button" class = "btn btn-danger">Purchase</button>
                        </div>
                    </div>

                    <div class = "card text-center boxShadow">
                        <div class = "card-header text-center"><h3 class = "nav-title text-center">Startup</h3></div>
                        <div class = "card-body">
                            <p class =  "card-title">7 free invoice</p>
                            <p class =  "card-title">15 free invoice template</p>
                            <p class =  "card-title">free email (1500 times per day)</p>
                            <p class =  "card-title">$10</p>
                        </div>
                        <div class = "card-footer">
                        <button type = "button" class = "btn btn-danger">Purchase</button>
                        </div>
                    </div>

                    <div class = "card text-center boxShadow">
                        <div class = "card-header text-center"><h3 class = "nav-title text-center">Enterprize</h3></div>
                        <div class = "card-body">
                            <p class =  "card-title">12 free invoice</p>
                            <p class =  "card-title">20 free invoice template</p>
                            <p class =  "card-title">free email (unlimited)</p>
                            <p class =  "card-title">$25 free</p>
                        </div>
                        <div class = "card-footer">
                            <button type = "button" onClick = "#" class = "btn btn-danger">Purchase</button>
                        </div>
                    </div>
                </div>
